 <div class="content-self">
    <form action="/backend/edit_article/" class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="control-group">
            <div>
                <label class="label-self" for="title">文章标题</label><span>{{ obj.title.errors.0 }}</span>
            </div>
            <div class="controls">
                {{ obj.title }}
            </div>
        </div>
        <div>
            <label class="label-self" for="edit">文章内容</label>
        </div>
        {{ obj.content }}
        <div>
            <label class="label-self" for="edit">文章分类</label>
        </div>
        <div class="category">
            {% for opt in obj.category_id %}
                {{ opt }}
            {% endfor %}
        </div>
        <div class="save-self">
            <button type="submit" class="btn btn-primary btn-lg" name="save-draft" onclick="save_draft()">保存草稿</button>
            <button type="submit" class="btn btn-primary btn-lg">发布文章</button>
            <button type="button" class="btn btn-primary btn-lg" name="cancel" onclick="cancel_submit()">取 消</button>
        </div>
    </form>
</div>

<script>
    $(function () {
        CKEDITOR.replace('content',{
            "filebrowserUploadUrl" : "/backend/upload/",
            extraPlugins: 'codesnippet',
            codeSnippet_theme: 'dark',
            codeSnippet_languages: {
                    Golang:'Golang',
                    Python: 'Python',
                    HTML:'HTML',
                    CSS:'CSS',
                    javascript: 'JavaScript',
                    php:'PHP',
                    shell: 'shell'
                }
        });
    });
    function cancel_submit() {
        window.location.href = "/backend/article_list/"
    }
    function save_draft() {
        $('.form-horizontal').attr("action","/backend/save_draft/");
    }
</script>